<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="defaultDbUser" value="root" />
        <add key="defaultDbPass" value="root" />
        <add key="defaultDbHost" value="mysql" />
        <add key="defaultRedisHost" value="redis" />
        <add key="defaultBot" value="6611030776:AAGShRByjkKqxbGQhTcD_ldgbujKA7c7Xik" />
        <add key="defaultStartTime" value="30000" />
        <add key="MacBook-Air-DanilDbUser" value="root" />
        <add key="MacBook-Air-DanilDbPass" value="lfybk2000" />
        <add key="MacBook-Air-DanilDbHost" value="localhost" />
        <add key="MacBook-Air-DanilRedisHost" value="localhost" />
        <add key="MacBook-Air-DanilBot" value="6385502657:AAEF_eS8zcJz_Llk3Zcq-X0gGkQoeNsOJXo" />
        <add key="MacBook-Air-DanilStartTime" value="0" />
        <add key="MacBook-Air-Danilrabbitmq" value="localhost" />
        <add key="defaultrabbitmq" value="rabbitmq" />


    </appSettings>
</configuration>